<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>guestbook (pure)</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <section class='container'>
      <section class='page-header'>
        <h1>guestbook&nbsp;<small>welcome to the guestbook application</small></h1>
      </section>
      <details class='form-group'>
        <summary class='form-group'>
          please <strong>expand</strong> to leave your dedication.
        </summary>
        <form class='form-horizontal' role='form' id='newDedication'>
          <section class='form-group'>
            <label class='col-sm-2 control-label' for='name'>your name*</label>
            <section class='col-sm-10'>
              <input  class='form-control' placeholder='name' name='dedication[author]' required/>
            </section>
          </section>
          <section class='form-group'>
            <label class='col-sm-2 control-label' for='dedication'>dedication*</label>
            <section class='col-sm-10'>
              <input class='form-control' placeholder='dedication' name='dedication[text]' required/>
            </section>
          </section>
          <section class='form-group'>
            <section class='col-sm-offset-2 col-sm-10'>
              <button type='submit' form='newDedication' formaction='/pure/dedication' formmethod='POST' class='btn btn-info'>add dedication</button>
            </section>
          </section>
        </form>
      </details>
      <section class='panel panel-default'>
        <section class="panel-heading">dedications</section>
        <section class='panel-body'>
          <% for(var i=0; i < dedications.length; i++) {%>
          <section class='row'>
            <div class='col-md-3'><em><%= dedications[i].author %> on <%= moment(dedications[i].date).format('YYYY/MM/DD HH:mm') %></em></div>
            <div class='col-md-8'><%= dedications[i].text %></div>
            <div class='col-md-1'>
              <form role='role' id='<%= dedications[i]._id %>'>
                <input type='hidden' name='id' value='<%= dedications[i]._id %>'/>
                <button type='submit' form='<%= dedications[i]._id %>' formmethod='POST' formaction='/pure/dedication/delete' class='btn btn-default btn-xs'><span class="glyphicon glyphicon-trash"></span></button>
              </form>
            </div>
          </section>
          <% } %>
        </section>
      </section>
      <section>
        <a class='btn btn-info' href='/pure/index' role='button'>refresh</a>
      </section>
    </section>
    <script src='/javascripts/bootstrap.min.js'/>
  </body>
</html>